/*
Author     : Krasimir Stoyanov
Company    : ProDevity
Description: Style-Layout

*/
/* Table of Content
==================================================

#GENERAL
#HEADER
#SIDEBAR
#SONG LAYOUT
#MAIN CONTENT

=====SECTIONS=====
#DISCOVER

*/
/* GENERAL
   ================================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #4c4c4c;
  background-color: #f2f4f5;
}
a {
  color: #4c4c4c;
}
.vbox {
  display: table;
  border-spacing: 0;
  position: relative;
  height: 100%;
  width: 100%;
}
.padder {
  padding: 0 15px;
}
.bottom {
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
a.round-button {
  display: inline-block;
  margin-right: 10px;
  padding: 4px 15px;
  font-size: 1.143em;
  border: 2px solid #4c4c4c;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
}
a.round-button.active,
a.round-button:hover,
a.round-button:focus,
a.round-button:active {
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: #4c4c4c;
  color: #ffffff;
  text-decoration: none;
}
/* HEADER
   ================================================== */
header:before {
  display: table;
  content: " ";
}
nav.navbar-default {
  height: 60px;
  margin: 0;
  border: 0;
  border-radius: 0;
  background-color: #ffffff;
  position: relative;
}
nav.navbar-default div.container-fluid {
  padding: 0;
}
nav.navbar-default div.container-fluid .navbar-header {
  width: 70px;
  float: left;
}
nav.navbar-default div.container-fluid .navbar-header img {
  display: inline-block;
}
nav.navbar-default div.container-fluid .navbar-header .app-name {
  display: none;
  margin-left: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
nav.navbar-default div.container-fluid a.navbar-brand {
  width: 70px;
  height: auto;
  margin: 0;
  padding: 20px 26px;
  background-color: #f6f7f7;
  transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
}
nav.navbar-default div.container-fluid a.navbar-brand:hover,
nav.navbar-default div.container-fluid a.navbar-brand:focus,
nav.navbar-default div.container-fluid a.navbar-brand:active {
  background-color: #f6f7f7;
}
nav.navbar-default div.container-fluid .navbar-nav .open a:hover,
nav.navbar-default div.container-fluid .navbar-nav .open a:focus,
nav.navbar-default div.container-fluid .navbar-nav .open a:active {
  background-color: #edf2f2;
}
nav.navbar-default div.container-fluid .expand a {
  font-size: 1.2em;
}
nav.navbar-default div.container-fluid li a {
  margin: 0;
  padding: 20px 22px;
  color: #4c4c4c;
  transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-timing-function: margin;
  -webkit-transition-timing-function: margin;
  -moz-transition-timing-function: margin;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
}
nav.navbar-default div.container-fluid li a:hover,
nav.navbar-default div.container-fluid li a:focus,
nav.navbar-default div.container-fluid li a:active {
  background-color: #edf2f2;
}
nav.navbar-default div.container-fluid ul.dropdown-menu {
  margin: 0;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
nav.navbar-default div.container-fluid ul.dropdown-menu a {
  padding: 5px 15px;
  color: #727272;
  font-weight: 600;
}
nav.navbar-default div.container-fluid ul.dropdown-menu a:hover,
nav.navbar-default div.container-fluid ul.dropdown-menu a:focus,
nav.navbar-default div.container-fluid ul.dropdown-menu a:active {
  text-decoration: none;
  color: #5e5e5e;
}
nav.navbar-default a.user.dropdown-toggle {
  padding: 10px 20px;
  font-weight: 600;
  color: #4c4c4c;
}
nav.navbar-default a.user.dropdown-toggle span.username {
  margin: 0;
  padding: 20px 0;
}
nav.navbar-default a.user.dropdown-toggle span.profile-image-wrapper {
  display: inline-block;
  margin-left: 10px;
  width: 40px;
  position: relative;
  white-space: nowrap;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
nav.navbar-default a.user.dropdown-toggle span.profile-image-wrapper img {
  height: auto;
  max-width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
nav.navbar-default form.navbar-form {
  margin: 0;
  padding: 13px 15px;
}
nav.navbar-default form.navbar-form button {
  border: 0;
  border-radius: 0;
}
nav.navbar-default form.navbar-form button:hover,
nav.navbar-default form.navbar-form button:focus,
nav.navbar-default form.navbar-form button:active {
  outline: 0;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
nav.navbar-default form.navbar-form input {
  border: 0;
  border-radius: 0;
  font-size: 0.8em;
  color: #4c4c4c;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
nav.navbar-default form.navbar-form input:focus,
nav.navbar-default form.navbar-form input:active {
  outline: 0;
}
nav.navbar-default div.dropdown-menu {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
nav.navbar-default div.dropdown-menu .panel {
  margin: 0;
  border: 0;
  min-width: 360px;
}
nav.navbar-default div.dropdown-menu .panel .media p {
  margin: 0;
  font-size: 1em;
  font-weight: 600;
}
nav.navbar-default div.dropdown-menu .panel .media a {
  display: inline-block;
}
nav.navbar-default div.dropdown-menu .panel .media .thumb-m {
  padding: 0;
  margin-right: 10px;
  width: 40px;
  text-align: center;
}
nav.navbar-default div.dropdown-menu .panel .media .thumb-m img {
  height: auto;
  max-width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
nav.navbar-default div.dropdown-menu .panel .media .thumb-m i {
  margin-top: 5px;
  font-size: 2em;
}
nav.navbar-default div.dropdown-menu .panel a {
  padding: 0;
  color: #727272;
}
nav.navbar-default div.dropdown-menu .panel a:hover,
nav.navbar-default div.dropdown-menu .panel a:focus,
nav.navbar-default div.dropdown-menu .panel a:active {
  text-decoration: none;
  color: #5e5e5e;
}
nav.navbar-default div.dropdown-menu .panel .panel-title {
  font-size: 1em;
  color: #666666;
}
nav.navbar-default div.dropdown-menu .panel .panel-body {
  padding: 0;
  word-break: break-all;
}
nav.navbar-default div.dropdown-menu .panel .panel-body .list-group {
  margin: 0;
}
nav.navbar-default div.dropdown-menu .panel .panel-body .list-group.even a {
  background-color: #FAFAFA;
}
nav.navbar-default div.dropdown-menu .panel .panel-body .list-group-item {
  padding: 10px 15px;
  border: 0;
  border-radius: 0;
}
nav.navbar-default div.dropdown-menu .panel .panel-footer {
  font-size: 0.9em;
  font-weight: 600;
}
nav.navbar-default div.dropdown-menu .panel .panel-heading,
nav.navbar-default div.dropdown-menu .panel .panel-footer {
  background-color: #eff4f7;
}
nav.navbar-default span.badge {
  padding: 3px 6px;
  background-color: #4c4c4c;
  font-size: 0.7em;
  position: absolute;
  top: 13px;
  right: 13px;
}
/* SIDEBAR
   ================================================== */
#main-content {
  display: block;
  width: 100%;
  position: absolute;
  top: 60px;
  bottom: 0;
}
#main-content .hbox {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-spacing: 0;
}
#sidebar,
.content {
  display: table-cell;
  float: none;
  height: 100%;
  vertical-align: top;
}
#sidebar {
  width: 70px;
  background-color: #4c4c4c;
  transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
}
#sidebar section {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 60px;
}
#sidebar ul {
  width: auto;
  position: relative;
  margin: 0;
}
#sidebar ul:before {
  display: table;
  content: " ";
}
#sidebar ul .not-expanded:hover a,
#sidebar ul .not-expanded:focus a,
#sidebar ul .not-expanded:active a {
  text-decoration: none;
  background-color: #595959;
}
#sidebar ul .not-expanded:hover a i,
#sidebar ul .not-expanded:focus a i,
#sidebar ul .not-expanded:active a i {
  margin-top: -50px;
}
#sidebar ul .expanded a {
  padding: 0 20px;
  text-align: left;
}
#sidebar ul .expanded a i {
  margin-right: 5px;
  display: inline;
}
#sidebar ul .expanded a span {
  display: inline;
}
#sidebar ul .expanded:hover a,
#sidebar ul .expanded:focus a,
#sidebar ul .expanded:active a {
  text-decoration: none;
  background-color: #595959;
}
#sidebar ul .hidden-title span {
  display: block;
  padding: 0 15px;
  margin: 15px 0;
  color: #989898;
  font-size: 0.8em;
}
#sidebar ul li {
  position: relative;
  display: block;
}
#sidebar ul li a {
  display: block;
  height: 50px;
  padding: 0;
  border: none;
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow-y: hidden;
  transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
}
#sidebar ul li a i {
  display: block;
  float: none;
  margin: 0;
  width: auto;
  border: none !important;
  vertical-align: middle;
  font-size: 1em;
  font-weight: normal;
  line-height: 50px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
}
#sidebar ul li a span {
  display: table-cell;
  width: 70px;
  height: 50px;
  padding: 0 5px;
  vertical-align: middle;
  font-size: 0.65em;
  font-weight: 700;
}
/* SONG LAYOUT
   ================================================== */
#songs {
  padding: 0 30px;
  float: left;
  width: 82%;
}
#songs .row {
  margin: 0;
  padding: 0;
}
#songs .row .col-xs-6 {
  padding: 0 10px;
}
#songs .filter-buttons {
  padding: 10px 10px 20px 10px;
}
#songs .item .song-image {
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#songs .item a {
  color: #d9d9d9;
}
#songs .item a:hover {
  color: #ffffff;
}
#songs .item img {
  display: block;
  margin: auto;
  max-height: 221px;
}
#songs .item .length {
  margin-left: 10px;
}
#songs .item .user-controls {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#songs .item .user-controls .rating {
  margin-top: 10px;
  text-align: left;
  font-size: 0.9em;
  color: #ffffff;
}
#songs .item .user-controls .play-pause {
  margin-top: -15px;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
#queue {
  display: inline-block;
  float: right;
  width: 18%;
}
